.col-50{
	height: 50px;
	text-align: center;
	margin: auto;
}

.red{
	background-color: red;
	width: 650px;
}

.blue{
	background-color: blue;
	width: 650px;
}
body{
	display: flex;
	flex-direction: row;
	-ms-flex-align: center;
}