.jaune{
    width: 800px; height: 300px; background-color: #FCD116;
}
.bleu{
    width: 800px; height: 120px; background-color: #003893;
}
.rouge{
    width: 800px; height: 120px; background-color: #CE1126;
}